body{
    font-size: 1rem;
    color: #444;
    cursor: default;
    min-height:100vh;
}
h1{
    font-weight: 600;
    font-size: 1.7rem;
}
h2{
    font-size: 24px;
    font-weight: bold;
    color: #1d68a7;
}
h3{
    font-size: 21px;
    font-weight: bold;
}
a:hover,
.callout .title-vacancy:hover{
   text-decoration: none;
   color: #1d68a7;
}
.title-vacancy{
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
    float: left;
    margin-right: 5px;
}
#show-vacancy .title-vacancy{
    font-size: 26px;
}
.link-a{
    color: #3490dc!important;
    text-decoration: none!important;
    background-color: transparent;
    display: inline-block;
}
.link-a:hover{
    color: #1d68a7!important;
}
.top-panel{
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    padding: 20px 15px;
    z-index: 20;
    font-size: 15px;
}
.top-panel button{
    width: auto;
    margin-right: 15px!important;
}
.bread-top-cabinet {
    padding: 10px 15px;
    margin: 0 -15px;
}
.bread-top{
    padding: 0 15px 10px;
}
.bread-top svg,
.bread-top-cabinet svg {
    width: 8px;
    margin-right: 5px;
}
.bread-top svg path,
.bread-top-cabinet svg path{
    fill: #a7a8a9;
}
.bread-slash{
    height: 26px;
    margin: 0 5px;
    color: #a7a8a9;
    font-size: 15px;
}
b{
    color: black;
}
.button-menu{
    background: #f1f1f1;
    min-width: 50px;
    text-align: center;
    margin-right: 10px!important;
    font-weight: 600;
}
.create-page .title_page{
    margin: 0;
    padding: 15px 5px;
}
.search-panel .title_page{
    margin: 0;
    padding: 25px 15px 15px;
}
.inline-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.link-back {
    display: flex;
    color: #3490dc;
    font-size: 20px;
    padding-top: 10px;
    width: 100px;
}
.link-back svg {
    width: 10px;
    margin-right: 5px;
}
.link-back svg path{
    fill:#3490dc;
}
.link-back:hover svg path{
    fill:#1d68a7;
}
.card-primary:not(.card-outline) > .card-header {
    background-color: #1d68a7;
}
.box-page {
    background-color: #fff;
    padding: 0 15px 15px;
}
.target-label {
    color: #035ba4;
    font-weight: 500 !important;
    cursor: pointer;
}
.content-wrapper{
    display: flex;
}

/* sidebar left */
.brand-link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding: 6px 10px 6px 8px;
    font-size: 15px;
    background: linear-gradient(0deg, rgba(253,230,45,1) 0%, rgba(253,230,45,1) 49%, rgba(0,123,255,1) 49%, rgba(0,123,255,1) 100%);
}
.brand-link .brand-text{
    line-height: 18px;
}
.brand-link .box-logo-title {
    height: 35px;
}
.brand-link img{
    width: 50px;
    margin-right: 7px;
    background-color: rgba(0, 0, 0, 0.1);
}
.brand-link .box-logo-title div:nth-child(1){
    color: rgba(253,230,45,1);
}
.brand-link .box-logo-title div:nth-child(2){
    color: rgba(0,123,255,1);
}
.main-sidebar{
    background-color: #f8fafc;
}
.main-header a{
    white-space: nowrap
}
#left-sidebar{
    display:none!important;
}
.navbar-nav > li:nth-child(1){
    margin-right: 10px!important;
}
.button-navbar{
    display: flex!important;
    flex-direction: column!important;
    flex-wrap: nowrap!important;
    justify-content: center!important;
    align-content: flex-start!important;
    align-items: center!important;
}
#show-vacancy .box-title{
    margin-bottom: 10px;
}
.back-url-link {
    display: block;
    position: relative;
    padding: 0;
    line-height: 13px;
}
.back-url-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #3490dc;
    opacity: 0;
    transition: opacity 100ms, transform 100ms;
}
.back-url-link:hover::after,
.back-url-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
.clear-float{
    clear: both;
}
.badge {
    margin: 0 -15px 0 0;
}

/* offer */
.offer-document{
    padding: 0px 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #f5f5f5;
    color: #444;
    border-radius: 3px;
    width: 100%;
    border-bottom: 1px dashed #2890ff;
}
.box-message .alert-warning{
    border-color: #d6d6d6;
    padding: 5px 10px;
}
.box-show p, ol, ul {
    margin-bottom: 3px;
}
.link-svg path{
    fill:#3490dc;
}
.link-svg:hover path{
    fill:#1d68a7;
}

/* bootstrap */
.row{
    margin: 0;
}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    padding: 0 5px;
}

/* tooltip Bootstrap*/
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #050505; /* цвет стрелочки (по умолчанию #000)*/
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #050505; /* цвет стрелочки (по умолчанию #000)*/
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #050505; /* цвет стрелочки (по умолчанию #000) */
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #050505; /* цвет стрелочки (по умолчанию #000) */
}
.tooltip-inner {
    max-width: 250px; /* максимальная ширина подсказки (по умолчанию 200px) */
    color: white;
    background-color: #050505;
    border-radius: 0.25rem; /* радиус скругдения углов */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.4);
    text-align: left;
    padding: 8px 13px;
    font-size: 14px;
}
.tooltip.show {
    opacity: 1;
}
.info-tooltip path{
    fill: #78b1ff;
}

/* Modal Auth */
.modal-dialog{
    cursor: default;
}
.modal-header {
    padding: 10px 15px;
}
.modal-header button{
    margin-top: -14px!important;
}
.block_auth {
    padding: 10px 20px;
    background-color: white;
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}
.block_auth .annotation-top, .block_auth .annotation-bottom {
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0px 15px;
}
.block_auth .annotation-bottom {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.block_auth .annotation-bottom span {
    margin: 0px 10px;
}
.block_auth .annotation-bottom::before, .block_auth .annotation-bottom::after {
    content: '';
    border-bottom: 1px solid #BDBDBD;
    flex: 1;
}
.block_auth button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin: 30px 0px 10px;
}
.button-auth {
    display: flex;
    align-items: center;
}
.button-auth a{
    width: 100%;
}

/* validate laravel */
.alert-danger {
    text-align: center;
}
svg{
    width: 20px;
}

/* form inputs */
.create-page .form-group{
    border-bottom: 1px solid #ffdf9b;
    border-right: 1px solid #c0ddfb;
}
.mandatory-filling svg{
    width: 10px;
}
.mandatory-filling path{
    fill: red;
}
.checkbox-box{
    margin: 8px 0px -18px;
}
.form-group input[type="checkbox"]{
    margin: 6px 4px 0;
    position: relative;
    top: 0;
    height: 15px;
}
.form-group input[type="number"]{
    width: 100px;
    border: 1px solid #ced4da;
    color: #444;
    padding-left: 5px;
    border-radius: 4px;
}
.form-group input[type="checkbox"]:hover,
.form-group input[type="radio"]:hover{
    cursor: pointer;
}
.form-group input[type="number"]:focus-visible{
    border: 1px solid #a1cbef !important;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25) !important;
    outline: none;
}
.btn-block + .btn-block {
    margin: 0;
}
.footer-form{
    padding: 50px 0 70px;
}
.but-box{
    display: flex;
    justify-content: space-between;
}
.but-box button,
.but-box a{
    width: 45%;
}
label{
    color: #444;
}
.btn-outline-primary path{
    fill: #3490dc;
}
.btn-outline-success path{
    fill: #38c172;
}
.btn-outline-danger path{
    fill: #e3342f;
}
.btn-primary path,
.btn-danger path,
.btn-success path{
    fill: white;
}
.btn-warning {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
}
.btn-warning:hover {
    color: #1f2d3d;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
}
.desc-i{
    font-size: 13px;
    color: #138496;
    margin-top: -10px;
    display: block;
}
.form-control:focus {
     box-shadow: none;
}

/* select 2 */
select{
    cursor: pointer;
}
.select2-container {
    width: 100%!important;
}
.select2-container .select2-selection--single {
    height: 36px;
}
.select2-container--default .select2-results > .select2-results__options,
.select2-container{
    font-size: 14px;
}
.select2-container--default .select2-selection--single {
    padding: 7px 7px 0;
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}
.select2-container--focus .select2-selection.select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color:#a1cbef!important;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff!important;
    border-color: #006fe6!important;
    color: #fff;
    padding: 2px 0 2px 10px;
    white-space: inherit;
    line-height: 16px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: static !important;
    margin: 0 !important;
    padding: 0 6px 0 5px !important;
    float: right !important;
    border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background: none;
    color: #fff;
    outline: none;
}
.select2-container--default .select2-selection--multiple {
    min-height: 35px;
    border: 1px solid #ced4da;
    padding-top: 2px;
}

/* select 2 search title panel */
.options-default{
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}
.top-search{
    padding: 0 15px 15px;
    width: 100%;
    background-color: rgba(256, 256, 256, 0.7);
    border-bottom: 1px solid #dee2e6;
}
.top-search .select2.select2-container.select2-container--default{
    border-radius: 0!important;
    margin: 0!important;
    /*border: 1px solid #ced4da;*/
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    min-width: 170px;
}
.top-search .select2-container--default .select2-selection--single {
    border: none;
}
.top-search .select2-container--focus .select2-selection.select2-selection--single,
.top-search .select2-container--default.select2-container--focus .select2-selection--multiple{
    box-shadow: none;
}
.top-search .select2.select2-container.select2-container--default.not-select {
    border: 1px solid #fcc36d;
}
.top-search span[data-select2-id="1"],
.top-search span[data-select2-id="3"],
.top-search span[data-select2-id="5"],
.top-search .box-select{
    display: none;
}
.top-search span[data-select2-id="1"] > span:first-child,
.top-search span[data-select2-id="3"] > span:first-child,
.top-search span[data-select2-id="5"] > span:first-child{
    width: 100%;
}
.top-search .select2-selection.select2-selection--single:focus-visible,
.top-search .select2-container--default.select2-selection--single{
    outline: none !important;
}
.select2-container--open li{
    cursor: pointer;
}

/* my vacancies */
.mode-vacancy{
    display: flex;
}
.mode-vacancy .mode{
    background: #d5d5d5;
    padding: 0 5px 0 8px;
    color: #202020;
}
.mode-vacancy .mode svg{
    width: 13px;
}
.mode-vacancy .balance-mode{
    background: #d5d5d5;
    padding: 0 10px 0 0;
    color: #202020;
}
.mode-vacancy .standard{
    background: #38c172;
}
.box-vacancy {
    outline: 2px solid #dee2e6;
    cursor: pointer;
    padding: 20px 20px 10px 20px;
    margin-right: 0;
    margin-top: 2px;
    position: relative;
    display: block;
    color: inherit;
}
.box-vacancy .ribbon-wrapper {
    left: -3px;
    top: -3px;
    transform: rotate(-90deg);
}
.ribbon-wrapper .ribbon {
    left: 5px;
    top: 4px;
}
.euro-color .euro-star-icon {
    fill: #ffa700;
}
.uk-star-icon {
    fill: #003194;
}
.box-vacancy:hover {
    outline: 2px solid #c0ddfb;
    position: relative;
    z-index: 9;
    color: inherit;
}
.box-vacancy:hover .title-vacancy,
.box-vacancy:hover .link-vacancy{
      color: #1d68a7;
}
.box-vacancy:hover .company-vacancy:hover{
    outline: 1px solid #dee2e6!important;
}
.desc-helper-italic{
    font-style: italic;
    margin-bottom: 10px;
}
.footer-vacancy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dee2e6;
    margin: 10px -20px 0 -20px;
    padding: 10px 20px 0 20px;
}
.date-document{
    font-size: 13px;
    font-weight: bold;
    display: flex;
}
.date-document .date-string{
    border-bottom: 1px solid #dee2e6;
}
.header-date-document{
    margin: -10px 0 10px 0;
}

.close-document-fon{
    background-color: #e87b85;
    text-align: center;
    border-radius: 13px;
    padding: 0 10px;
    font-weight: 100;
    margin-left: 10px;
}
.close-document-border{
    outline: 2px solid #e87b85;
}



/* color */
.euro-color{
    background-color: #003194;
    color: white;
}
.uk-color{
    background-color: #ffa700;
    color: white;
}



@media (max-width: 575px) {
    #left-sidebar{
        display: flex!important;
        flex-direction: column!important;
        flex-wrap: nowrap!important;
        justify-content: center!important;
        align-content: flex-start!important;
        align-items: center!important;
    }
    .button-navbar{
        display:none!important;
    }
}

/* Media min */
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
        padding: 0 15px;
    }
    .search-panel.container,
    .box-page.container {
        max-width: 1400px;
        padding: 0 15px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px!important;
    }
}



