body{
    font-size: 1rem;
}
h1{
    font-weight: 600;
    font-size: 1.7rem;
}
aside .brand-link{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    padding: 6px 0 6px 10px;
    font-size: 15px;
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(253,187,45,1) 49%, rgba(6,124,246,1) 51%, rgba(6,124,246,1) 100%);
}
aside .brand-link span:nth-child(1){
    color: rgb(253, 187, 45);
}
aside .brand-link span:nth-child(2){
    color: rgb(6, 124, 246);
}
.button-menu{
    background: #f1f1f1;
    min-width: 50px;
    text-align: center;
    margin-right: 10px!important;
    font-weight: 600;
}
.title_page{
    margin: 0;
    padding: 15px 5px;
}

/* bootstrap */
.row{
    margin: 0;
}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    padding: 0 5px;
}
/* Modal Auth */
.modal-dialog{
    cursor: default;
}
.modal-header {
    padding: 10px 15px;
}
.modal-header button{
    margin-top: -14px!important;
}
.block_auth {
    padding: 10px 20px;
    background-color: white;
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}
.block_auth .annotation-top, .block_auth .annotation-bottom {
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0px 15px;
}
.block_auth .annotation-bottom {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.block_auth .annotation-bottom span {
    margin: 0px 10px;
}
.block_auth .annotation-bottom::before, .block_auth .annotation-bottom::after {
    content: '';
    border-bottom: 1px solid #BDBDBD;
    flex: 1;
}
.block_auth button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin: 30px 0px 10px;
}
.button-auth {
    display: flex;
    align-items: center;
}
.button-auth a{
    width: 100%;
}
/* validate laravel */
.alert-danger {
    text-align: center;
}
svg{
    width: 20px;
}
/* form inputs */
.create-page .form-group{
    border-bottom: 1px solid #ffdf9b;
    border-right: 1px solid #c0ddfb;
}
.mandatory-filling svg{
    width: 10px;
}
.mandatory-filling path{
    fill: red;
}
.checkbox-box{
    margin: 8px 0px -18px;
}
.form-group input[type="checkbox"]{
    margin: 0 4px 0;
    position: relative;
    top: -1px;
}
.form-group input[type="number"]{
    width: 100px;
}
.form-group input[type="checkbox"]:hover,
.form-group input[type="radio"]:hover{
    cursor: pointer;
}

/* select 2 */
.select2-container {
    width: 100%!important;
}
.select2-container .select2-selection--single {
    height: 36px;
}
.select2-container--default .select2-results > .select2-results__options,
.select2-container{
    font-size: 14px;
}
.select2-container--default .select2-selection--single {
    padding: 7px 7px 0;
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}
.select2-container--focus .select2-selection.select2-selection--single {
    border-color:#a1cbef!important;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}




/* Media min */
@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px!important;
    }
}



